body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;  
}

.button {
    font-family: inherit;
    font-size: inherit;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    
    border: none;
}

.button-red {
    background-color: #fb565a;
}
.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}
.button-red:active {
    background-color: #d7373b;
    color: rgba(255,255,255,0.3)
}

.button-green {
    background-color: #00ca74;
}
.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}
.button-green:active {
    background-color: #00aa62;
    color: rgba(255,255,255,0.3)
}

.button-yellow {
    background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}
.button-yellow:active {
    background-color: #e5a722;
    color: rgba(255,255,255,0.3)
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase; 
    
    background-color: #eeeeee;
}

.site-navigation,
.user-block {
    list-style: none;
}

.site-navigation a,
.user-block a {
    color: #000000;  
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-block a:active {
    color: #000000;
}

.promo {
    background-color: #eeeeee;
}

.slider-slides .slider-text {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item-1{
    background-image: url("../img/slide-1.png")
}
.slider-item-2{
    background-image: url("../img/slide-2.png")
}
.slider-item-3{
    background-image: url("../img/slide-3.png")
}

.services-item {
    list-style: none;
}

.services-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase; 
}

.about-us-advantages {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-us-services,
.about-us-stats {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000; 
}

.value-item {
    list-style: none;
}

.value-stats {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000; 
}
.value-text {
    line-height: 18px;   
}

.partner-item {
    list-style: none;
}

.studio-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;    
}

.social-button {
    list-style: none;
}

.slogan {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;   
}

.user-text-list li {
    list-style: none;
}

.user-text-list label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;  
}

.user-text-list input,
.user-text-list textarea {
    font: inherit;
    border: 2px solid #d7dcde;
}

.user-text-list input:hover,
.user-text-list textarea:hover {
    font: inherit;
    border: 2px solid #b4b9bb;
}

.user-text-list input:focus,
.user-text-list textarea:focus {
    font: inherit;
    border: 2px solid #000000;
}

user-text-list label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68,68,68,0.5);     
}

user-text-list label:focus {
    font-weight: 400;
    color: #444444;     
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;      
}

.filter-headline {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;    
}

.range-word {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;   
}

.filter-option {
    list-style: none;
}

.features {
    list-style: none;  
}

.filter-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #dfdfdf;
}

.filter-button:active {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    background-color: #d5d5d5;
}

.sort-form li {
    list-style: none;
}

.catalog-list li {
    list-style: none;  
}

.template-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;  
}

.catalog-pop-up p {
    line-height: 18px; 
}

.pagination-list li {
    list-style: none;
}

.pagination-item a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000; 
    background-color: #eeeeee;
}

.pagination-item-current a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000; 
    
    border: 3px solid #dbdbdb;
}

.address address {
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.address .phone {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.main-header {
    display: flex;
    width: 100%;
    min-height: 115px;
    background-color: aquamarine;
    justify-content: center;
}

.main-navigation {
    width: 1160px;
    display: flex;
    min-height: 115px;
    justify-content: space-between;
}
.main-navigation .logo {
    margin:0;
    padding: 0;
    width: 160px;
    height: 65px;
    background-color: bisque;
}

.main-navigation .site-navigation {
    margin: 0;
    padding: 0;
    width: 440px;
    min-height: 12px;
    background-color: bisque;
}
.main-navigation .user-block {
    margin: 0;
    padding: 0;
    width: 140px;
    min-height: 12px;
    background-color: bisque;
}

.services {
    display: flex;
    width: 100%;
    min-height: 510px;
    background-color: aquamarine; 
    justify-content: center;
}

.services .services-list {
    display: flex;
    width: 1160px;
    padding-left: 20px;
    padding-right: 80px;
    min-height: 350px;
    justify-content: space-between;
}

.services .services-item {
    margin:0;
    padding: 0;
    width: 300px;
    min-height: 350px;
    background-color: bisque;
}

.about-us {
    display: flex;
    width: 100%;
    min-height: 525px;
    background-color: aquamarine; 
    justify-content: center; 
}

.wrap-about-us {
    display: flex;
    width: 1160px;
    min-height: 530px;
    justify-content: space-between;  
}

.about-us-main {
    margin:0;
    padding: 0;
    width: 660px;
    min-height: 360px;
    background-color: bisque;
}

.about-us-since {
    margin:0;
    padding: 0;
    width: 360px;
    min-height: 410px;
    background-color: bisque;  
}

.partners {
    display: flex;
    width: 100%;
    min-height: 183px;
    background-color: aquamarine; 
    justify-content: center;  
}
.partners-list {
    display: flex;
    width: 1160px;
    min-height: 86px;
    justify-content: space-between; 
}
.partners-item {
    margin:0;
    padding: 0;
    width: 260px;
    min-height: 86px;
    background-color: bisque; 
}

h1 {
    margin:0;
    margin-bottom: 118px;
    padding: 0;
}

.wrap-main-container {
    display: flex;
    width: 100%;
    min-height: 1995px;
    background-color: aquamarine;
    justify-content: center;
}
.wrap-catalog {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
    min-height: 770px;
    background-color: bisque;
}
.wrap-sort-catalog {
    width: 760px;
    min-height: 1995px; 
    background-color: bisque;
}








    


